@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left, #172026,#5FCDD9, #027373, #04BFAD, #04BF9D);
}

main {
    background-color: #fff;
    width: 1000px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #172026;
}

h1 {
    color: midnightblue;
    text-align: center;
    text-shadow: 1px 1px 2px #172026;
}

h2 {
    color: #125185;
}

p {
    text-align: justify;
}